

.container {
    display: grid;
    grid-gap: 1rem;
    margin: 0 auto;
}

//larger than 600px
@media (min-width: 600px){
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}


//larger than 1024px
@media (min-width: 1024px){
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}



//larger than 1024px
@media (min-width: 1600px){
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.element {
    padding: 1 rem;
   
}